* {
  margin: 0;
}


.main_background {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-width: 1600px;
  min-height: 900px;
  background-color: #000000;
  box-sizing: border-box;

  color: #ffffff;

  position: relative;

  z-index: 0;
}

h1 {
  width: 990px;
  margin-left: auto;
  margin-right: auto;
  padding: 14px 0 14px 14px;
}

.main_title {
  font-family: Roboto, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 34px;
  display: block;
  margin: auto;
}

.v_letter {
  font-family: Roboto, sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 34px;
}

.hall {
  display: flex;
  flex-direction: column;
  width: 990px;
  height: 573px;
  background-color: #F1EBE6F2;
  margin-left: auto;
  margin-right: auto;

  z-index: 1;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.woff);
}

.buying__info {
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
}

.buying__info-hint {
  display: none;
}

.movie_title {
  color: #000000;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.time {
  color: #000000;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.buying__info-hall {
  color: #000000;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.buying-scheme {
  background-color: #171D24;
  width: 100%;
  Height: 376px;
}

.buying-scheme__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen {
  width: 284px;
}

.book_button {
  width: 232px;
  height: 40px;
  background-color: #16A6AF;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin: auto;
  border-radius: 3px;
  border: none;
}