* {
  margin: 0;
}


.main_background {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  background-color: #000000;
  box-sizing: border-box;

  color: #ffffff;

  position: relative;

  z-index: 0;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.woff);
}

.header {
  max-width: 990px;
  padding: 15px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
}

h1 {
  width: 990px;
  margin-left: auto;
  margin-right: auto;
}

.main_title {
  font-family: Roboto, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 34px;
  display: block;
  margin: auto;
}

.v_letter {
  font-family: Roboto, sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 34px;
}

.login_button {
  width: 71px;
  height: 40px;
  background-color: #16A6AF;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
      text-transform: uppercase;
  margin: auto;
  border-radius: 3px;
  border: none;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.12);
}

.login_button:hover {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.24);
}

.date_items {
  max-width: 990px;
  margin-left: auto;
  margin-bottom: 33px;
  margin-right: auto;
  padding: 0;
  display: flex;
  gap: 5px;
  list-style-type: none;
}

.date_item {
  width: 124px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFFE5;
  border-radius: 2px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  flex-grow: 1;
}

.date_item:hover {
  width: 241px;
  height: 52px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
}

.date_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}

.date_item:hover>.date_link {
  font-family: Roboto;
  font-weight: 700;
  font-size: 15px;
  color: #000000;
}

.date_link,
.time_item {
  text-decoration: none;
}

.movie_list {
  max-width: 990px;
  margin-left: auto;
  margin-right: auto;
}

.thumb {
  width: 125px;
  height: 175px;
}

.movie_card {
  background-color: #F1EBE6F2;
  margin-bottom: 30px;
}

.movie__info {
  padding: 15px 15px 0 15px;
  display: flex;
}

.movie__description {
  display: block;
  box-sizing: border-box;
  padding-left: 15px;
}

.movie_name,
.hall_name {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  color: #000000;
}

.movie__synopsis {
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  font-family: Roboto, sans-serif;
}

.movie__data {
  font-weight: 300;
  font-size: 14px;
  color: #000000;
  font-family: Roboto, sans-serif;
}

.movie-seances__hall {
  padding: 0 15px 15px 15px;
}

.time_navigation {
  display: flex;
  gap: 5px;
  margin-top: 5px;
  list-style-type: none;
  font-size: 12px;
  font-weight: 400;
  font-family: Roboto;
  color: #000000;
}

.time_item {
  width: 53px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 2px;
  ;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.time_item:hover {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
}