* {
    margin: 0;
}


.main_background {
    background-image: url("../img/background_admin.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    background-color: #000000;
    box-sizing: border-box;

    color: #ffffff;

    position: relative;

    z-index: 0;
}

.main_background:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.5;

    z-index: -1;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.woff);
}

.header {
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
    padding: 14px 0 14px 14px;
}

.main_title {
    font-family: Roboto, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 34px;
    display: block;
}

.v_letter {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 34px;
}

.sub_title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.halls_management {
    max-width: 962px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.heading {
    width: 100%;
    height: 95px;
    background-color: #63536C;
    display: flex;
}

.heading_container {
    margin: auto;
    display: flex;
    width: 816px;
    justify-content: space-between;
}

.title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
}

.arrow {
    width: 24px;
    height: 16px;
}

.content {
    background-color: #EAE9EBF2;
    color: #000000;
    display: flex;
    flex-direction: column;
    padding: 35px 130px;
}

.create_hall_button {
    width: 159px;
    height: 40px;
    margin: 12px 32px;
    background-color: #16A6AF;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.12);
    text-transform: uppercase;
}

.create_hall_button:hover {
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.24);
}