@media (max-width: 390px) {

    .main_background {
        max-width: 390px;
        min-width: 0;
        width: 100%;
    }

    .date_navigation,
    .movie_list {
        max-width: 390px;
        width: 100%;
    }

    .header {
        max-width: 390px;
        width: 100%;
    }
}