@media (min-width: 391px) and (max-width: 768px) {

    .main_background {
        min-width: 391px;
        max-width: 768px;
        width: 100%;
    }

    .header {
        max-width: 768px;
    }

    .login_form {
        width: 100%;
    }
}