* {
    margin: 0;
}


.main_background {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    background-color: #000000;
    box-sizing: border-box;

    color: #ffffff;

    position: relative;

    z-index: 0;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.woff);
}

h1 {
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
    padding: 14px 0 14px 14px;
}

.main_title {
    font-family: Roboto, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 34px;
    display: block;
    margin: auto;
}

.v_letter {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 34px;
}

.booking_tickets {
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
}

.heading {
    display: block;
    background-color: #F1EBE6F2;
    padding: 25px 15px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    color: #C76F00;
}

.wrap {
    margin-bottom: 5px;
    position: relative;
}

.wrap::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-image: url("../svg/bef.png");
    background-repeat: repeat-x;
    background-size: auto 3px;
}

.wrap::after {
    content: "";
    position: absolute;
    top: 76px;
    left: 0;
    width: 100%;
    height: 3px;
    background-image: url("../svg/bef.png");
    background-repeat: repeat-x;
    background-size: auto 3px;
    transform: rotate(180deg);
}

.ticket__info-wrapper {
    background-color: #F1EBE6F2;
    position: relative;
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
}

.ticket__info-wrapper::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -1px;
    width: 100%;
    height: 3px;
    background-image: url("../svg/bef.png");
    background-repeat: repeat-x;
    background-size: auto 3px;
}

.ticket__info {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.bold_text {
    font-weight: 700;
    font-size: 16px;
}

.ticket__info {
    margin-bottom: 10px;
}

.ticket__hint {
    font-family: Roboto;
    font-weight: 300;
    font-size: 14px;
    color: #000000;
    margin-top: 10px;
}